In [1]:
import pandas as pd
import numpy as np 
from sklearn import preprocessing

In [2]:
data = pd.read_csv("football.csv")

In [3]:
data.head()

           Team   P   W   L  D   F   A  Pts
0       Arsenal  38  26   9  3  79  36   87
1     Liverpool  38  24   8  6  67  30   80
2  Manchester_U  38  24   5  9  87  45   77
3     Newcastle  38  21   8  9  74  52   71
4         Leeds  38  18  12  8  53  37   66

In [4]:
funcion = preprocessing.LabelEncoder()

In [5]:
y = data.pop("Team")

In [6]:
y.head()

0         Arsenal
1       Liverpool
2    Manchester_U
3       Newcastle
4           Leeds
Name: Team, dtype: object

In [7]:
fData = funcion.fit_transform(y)

In [8]:
fData

array([ 0, 12, 13, 15, 10,  5, 19,  1, 18,  2, 16, 14,  8,  4,  7,  3, 17,
        9,  6, 11])

## Scaling

In [10]:
from sklearn.preprocessing import StandardScaler

In [13]:
escala = StandardScaler()
datos = escala.fit_transform(data["Pts"])
datos

/Users/hectorcuesta1/anaconda/lib/python2.7/site-packages/sklearn/utils/validation.py:429: DataConversionWarning: Data with input dtype int64 was converted to float64 by StandardScaler.
  warnings.warn(msg, _DataConversionWarning)
/Users/hectorcuesta1/anaconda/lib/python2.7/site-packages/sklearn/preprocessing/data.py:586: DeprecationWarning: Passing 1d arrays as data is deprecated in 0.17 and will raise ValueError in 0.19. Reshape your data either using X.reshape(-1, 1) if your data has a single feature or X.reshape(1, -1) if it contains a single sample.
  warnings.warn(DEPRECATION_MSG_1D, DeprecationWarning)
/Users/hectorcuesta1/anaconda/lib/python2.7/site-packages/sklearn/preprocessing/data.py:649: DeprecationWarning: Passing 1d arrays as data is deprecated in 0.17 and will raise ValueError in 0.19. Reshape your data either using X.reshape(-1, 1) if your data has a single feature or X.reshape(1, -1) if it contains a single sample.
  warnings.warn(DEPRECATION_MSG_1D, DeprecationWarning)

array([ 2.15494501,  1.72457082,  1.54012475,  1.17123259,  0.86382246,
        0.74085841,  0.06455613, -0.11988995, -0.11988995, -0.36581805,
       -0.42730008, -0.42730008, -0.48878211, -0.48878211, -0.55026413,
       -0.73471021, -0.73471021, -0.98063831, -1.34953047, -1.47249452])